<div class="login-container" style="margin: auto; padding: 50px; border: 3px solid; margin-top: 12%;">
  <h2>Login</h2>
  <form>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" #username class="form-control" required>
      <!-- <input type="text" id="username" name="username" required> -->
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" #password class="form-control" required>

      <!-- <input type="password" id="password" name="password" required> -->
    </div>

    <div class="form-group">
      <button (click)="generateToken()" type="button" >Login</button>
    </div>
  </form>
</div>